<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sample Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c8becc">  <td>20/05/07 22:17:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTests.init()[pri:0, instance:io.registerapp.restassured.SampleTests@5d425813]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@2052601222</td>   <td></td> </tr>
<tr bgcolor="c8becc">  <td>20/05/07 22:18:19</td>   <td>40826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTests.somth()[pri:0, instance:io.registerapp.restassured.SampleTests@5d425813]">somth</td> 
  <td>main@2052601222</td>   <td></td> </tr>
</table>
